* {
    padding: 0;
    margin: 0;
}

body, html {
    background-color: rgb(255, 255, 255);
    height: 100%;
    overflow: hidden;
}

main {
    width: 100%;
    height: 100%;
}

#animations {
    width: 100%;
    height: 100%;
    display: none;
}

#historia-yury {
    display: none;
}

#historia-bicky {
    display: none;
}

#historia-maison {
    display: none;
}

#historia-alice {
    display: none;
}

#historia-sofia {
    display: none;
}

.video-conteiner {
    position: relative;
    width: 84%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 0 8%;
}

.animation {
    width: 100%;
    height: 100%;
    object-fit: contain;
    box-sizing: border-box;
    border: 7px solid black;
    background-color: black;
}



.text {
    color: rgb(53, 53, 53);
    padding: 20px;
    width: 30%;
    font-family: 'Comic Book';
    font-weight: 200;
    font-size: 20px;
    background-color: white;
    border: 3px solid black;
    box-shadow: 3px 3px 0px 0px rgba(0,0,0,1);
}

.animation-buttons {
    position: absolute;
    top: 70%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

#top-buttons button {
    padding: 5px 15px;
}

#anterior-btn {
    padding: 10px 30px;
    background-color: white;
    border: 3px solid black;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    font-weight: 700;
    box-shadow: 3px 3px 0px 0px rgba(0,0,0,1);
    color: black;
}

#anterior-btn:hover {
    background-color: #cccccc;
}

#siguiente-btn {
    padding: 10px 30px;
    background-color: white;
    border: 3px solid black;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    font-weight: 700;
    box-shadow: 3px 3px 0px 0px rgba(0,0,0,1);
    color: black;
}

#siguiente-btn:hover {
    background-color: #cccccc;
}

.captions {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: end;
    padding: 0 10px;
}

.links {
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.links a {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 8px 25px;
    margin: 10px;
    border-radius: 8px;
    text-decoration: none;
    border: 3px solid black;
    box-shadow: 3px 3px 0px 0px rgba(0,0,0,1);
}

.links a img{
    width: 40px;
    margin: 5px;
}

.links a h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: rgb(0, 0, 0);
}

#menu-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

#menu-first-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#menu-second-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#menu-third-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


#menu {
   display: flex;
   flex-direction: column;
   justify-content: center;
   transition: opacity 0.2s ease-in-out;
}

#menu div {
    display: flex;
    width: 350px;
    height: 100px;
    margin-right: 40px;
}

#menu div button {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: 800;
    width: 100%;
    height: 70px;
    font-size: 15px;
    padding: 20px 40px;
    margin: 10px;
    cursor: pointer;
    box-shadow: 3px 3px 0px 0px rgba(0,0,0,1);
    border: 3px solid black;
    z-index: 2;
}

#menu div img {
    margin-right: -50px;
    margin-top: -10px;
    z-index: 3;
}

#menu-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    margin: 20px 0;
    margin-left: 30px;
}

#top-buttons {
    display: flex;
}

#top-buttons button {
    background-color: white;
    font-family: 'Comic Book';
    color: black;
    font-size: 15px;
    margin: 10px;
    box-shadow: 3px 3px 0px 0px rgba(0,0,0,1);
    border: 3px solid black;
    cursor: pointer;
}

#menu-btn {
    padding: 10px 20px;
}

#top-buttons button img {
    width: 20px;
    padding: 5px 5px;
}

#intro-animation {
    display: flex;
    flex-direction: column;
   width: fit-content; 
   margin: auto;
   height: 100%;
   justify-content: center;
}

#intro-animation button{
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: 800;
    width: 100%;
    height: 70px;
    font-size: 15px;
    padding: 20px 40px;
    margin: 10px;
    cursor: pointer;
    box-shadow: 3px 3px 0px 0px rgba(0,0,0,1);
    border: 3px solid black;
    z-index: 0;
    transition: opacity 0.2s ease-in-out;
}

#portada-img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 5s ease-in-out;
}

#creditos {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#creditos-cont {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 70%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 3px 3px 0px 0px rgba(0,0,0,1);
    border: 5px solid black;
    overflow: hidden;
}

#creditos-cont div {
    display: flex;
    justify-content: end;
}

#creditos-cont div button {
    margin: 10px;
    background-color: white;
    font-family: 'Comic Book';
    padding: 5px 8px;
    font-size: 20px;
    cursor: pointer;
    z-index: 3;
}

#creditos-cont img {
    width: 100%;
    animation: desplazarTexto 30s linear infinite;
}

@keyframes desplazarTexto {
    from {
      transform: translateY(20%);
    }
    to {
      transform: translateY(-100%);
    }
  }



@media screen and (min-width: 2500px) and (max-width:4000px) {
    .video-conteiner {
        width: 34%;
        padding: 0 33%;
    }
}

@media screen and (min-width: 1400px) and (max-width:2499px) {
    .video-conteiner {
        width: 44%;
        padding: 0 28%;
    }
}

@media screen and (min-width: 1200px) and (max-width:1399px) {
    .video-conteiner {
        width: 54%;
        padding: 0 23%;
    }
}

@media screen and (min-width: 900px) and (max-width:1199px) {
    .video-conteiner {
        width: 64%;
        padding: 0 18%;
    }
    #valientas-logo {
        width: 400px;
    }
    .captions {
        top: 20%;
    }
}

@media screen and (max-width: 1000px) {
    .animation {
        border: 5px solid black;
    }
    #valientas-logo {
        width: 300px;
    }
    .captions {
        top: 20%;
    }
}

@media screen and (max-width: 821px) {
    #anterior-btn {
        padding: 10px 30px;
        border: 2px solid black;
        font-size: 16px;
    }
    #valientas-logo {
        width: 200px;
    }

    #menu-first-row img {
        width: 200px;
    }

    #menu-third-row img {
        height: 150px;
    }

    #anterior-btn:hover {
        background-color: white;
    }
    
    #siguiente-btn:hover {
        background-color: white;
    }

    #siguiente-btn {
        padding: 10px 30px;
        border: 2px solid black;
        font-size: 16px;
    }
    .animation-buttons {
        top: 60%;
    }
    .text {
        font-size: 15px;
        width: 40%;
    }
    .captions {
        top: 20%;
    }
    .animation {
        border: 3px solid black;
    }
}

@media screen and (max-width: 540px) {
    #anterior-btn {
        padding: 10px 30px;
        border: 2px solid black;
        font-size: 12px;
    }
    
    #siguiente-btn {
        padding: 10px 30px;
        border: 2px solid black;
        font-size: 12px;
        font-weight: 700;
    }
    .animation-buttons {
        top: 60%;
    }
    .text {
        font-size: 10px;
        width: 40%;
    }
    #menu div button {
        background-color: white;
        font-family: 'Montserrat', sans-serif;
        color: black;
        font-weight: 800;
        width: 50%;
        font-size: 12px;
        margin: 10px;
        cursor: pointer;
        box-shadow: 3px 3px 0px 0px rgba(0,0,0,1);
        border: 3px solid black;
        z-index: 2;
    }
    #menu-second-row {
        width: 100%;
        justify-content: center;
    }

    #valientas-logo {
        width: 100px;
        margin-left: 100px;
    }

    #menu-first-row img {
        width: 150px;
    }

    #menu-third-row img {
        height: 110px;
    }
}

@font-face {
    font-family: 'Comic Book';
    src: url('./src/Comic\ Book.otf') format('truetype');
    font-weight: 500;
}