* {
    padding: 0;
    margin: 0;
}

main {
    background-color: rgb(231, 231, 231);
    width: 1920px;
    height: 1080px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#historias {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#historias a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 30px;
    background-color: white;
    padding: 20px 40px;
    margin: 10px;
    text-decoration: none;
    color: rgb(65, 65, 65);
    
}